p2e/common/xsd/p2e.mechanics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns='https://github.com/dwugofski/rpgml/p2e'
	targetNamespace='https://github.com/dwugofski/rpgml/p2e'
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<!-- Wrapper for types associated with the core mechanics of the system -->

	<xs:include schemaLocation="../../../common/xsd/rpgml.base.xsd"/>
	<xs:include schemaLocation="./p2e.rich_text.xsd"/>

	<!--
	============================================================================
	ACTION TYPES
	============================================================================
	-->

	<xs:simpleType name="actCount">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Specifies how many actions or what type of action an Action takes.
			</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="lower">
					<xs:enumeration value="reaction"/>
					<xs:enumeration value="passive"/>
					<xs:enumeration value="free"/>
					<xs:enumeration value="exploration"/>
					<xs:enumeration value="downtime"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:element name="actCount" type="actCount"/>

	<xs:complexType name="action">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Description of an action.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="actCount" type="actCount"/>
			<xs:element name="actName" type="xs:token" minOccurs="0"/>
			<xs:element name="trigger" type="xs:token" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="action" type="action"/>

	<!--
	============================================================================
	WEIGHT TYPES
	============================================================================
	-->

	<xs:simpleType name="bulk">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Outline for a unit which approximates how difficult it is to carry something
			</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="lower">
					<xs:enumeration value="none">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Indicates negligible bulk.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="light">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Indicates light bulk.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="varies">
						<xs:annotation>
							<xs:documentation xml:lang="en">
								Indicates bulk that can vary.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Directly indicates the numeric bulk.
						</xs:documentation>
					</xs:annotation>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:element name="bulk" type="bulk"/>

	<!--
	============================================================================
	EVENT TYPES
	============================================================================
	-->

	<xs:simpleType name="timeevent">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Description of an events dealing with the progression of time
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="lower">
			<xs:enumeration value="month">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers every month
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="day">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers every day/24 hours
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dawn">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers on a new day
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hour">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers every hour
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="minute">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers every minute
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="round">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers every round
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="newround">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers at the start of the next round
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="turn">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers every turn
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nextturnstart">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers at the start of a creature's next turn
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nextturnend">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Event which triggers at the end of a creature's next turn
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="timeevent" type="timeevent"/>

	<xs:simpleType name="event">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Description for a generic event
			</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="timeevent"/>
	</xs:simpleType>
	<xs:element name="event" type="event"/>

	<xs:group name="frequencyGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Group description of something which happens or can happen at a given frequency
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="occurs" type="int">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The number of times the event happens in the time window
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interval" type="event">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The type of event which the frequency is based on
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>

	<xs:complexType name="frequency" mixed="false">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Description of something which happens at a given frequency
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="frequencyGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="frequency" type="frequency"/>

	<!--
	============================================================================
	REQUIREMENTS TYPES
	============================================================================
	-->

	<!-- reqs, prereqs -->
	<xs:complexType name="reqs">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The description entry for the requirements to use or gain access to something.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="req" type="richText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The description entry for a requirement to use or gain access to something.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--
	============================================================================
	ABILITY TYPES
	============================================================================
	-->

	<xs:complexType name="abilities">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The standard abilities list for an entity.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="strength" type="abilityStrMod"/>
			<xs:element name="dexterity" type="abilityDexMod"/>
			<xs:element name="constitution" type="abilityConMod"/>
			<xs:element name="intelligence" type="abilityIntMod"/>
			<xs:element name="wisdom" type="abilityWisMod"/>
			<xs:element name="charisma" type="abilityChaMod"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ability">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The name of an ability.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="strength"/>
			<xs:enumeration value="dexterity"/>
			<xs:enumeration value="constitution"/>
			<xs:enumeration value="intelligence"/>
			<xs:enumeration value="wisdom"/>
			<xs:enumeration value="charisma"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="abilityMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for an ability.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="intGroup"/>
		</xs:sequence>
		<xs:attribute name="ability" type="ability" use="optional"/>
	</xs:complexType>

	<xs:complexType name="namedAbilityMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Name and modifier for a given ability.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="ability">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The name of the ability
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="intGroup"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="abilityStrMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for the strength ability.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="abilityMod">
				<xs:sequence>
					<xs:group ref="intGroup"/>
				</xs:sequence>
				<xs:attribute name="ability" type="ability" use="optional" fixed="strength"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="abilityDexMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for the dexterity ability.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="abilityMod">
				<xs:sequence>
					<xs:group ref="intGroup"/>
				</xs:sequence>
				<xs:attribute name="ability" type="ability" use="optional" fixed="dexterity"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="abilityConMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for the constitution ability.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="abilityMod">
				<xs:sequence>
					<xs:group ref="intGroup"/>
				</xs:sequence>
				<xs:attribute name="ability" type="ability" use="optional" fixed="constitution"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="abilityIntMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for the intelligence ability.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="abilityMod">
				<xs:sequence>
					<xs:group ref="intGroup"/>
				</xs:sequence>
				<xs:attribute name="ability" type="ability" use="optional" fixed="intelligence"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="abilityWisMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for the wisdom ability.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="abilityMod">
				<xs:sequence>
					<xs:group ref="intGroup"/>
				</xs:sequence>
				<xs:attribute name="ability" type="ability" use="optional" fixed="wisdom"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="abilityChaMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for the charisma ability.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="abilityMod">
				<xs:sequence>
					<xs:group ref="intGroup"/>
				</xs:sequence>
				<xs:attribute name="ability" type="ability" use="optional" fixed="charisma"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>



	<!--
	============================================================================
	SAVE TYPES
	============================================================================
	-->

	<xs:complexType name="saves">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The standard saves list for an entity.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fort" type="saveFortMod"/>
			<xs:element name="ref" type="saveRefMod"/>
			<xs:element name="will" type="saveWillMod"/>
			<xs:group ref="numericAddendumGroup"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="save">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The name of a saving throw stat.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="fortitude"/>
			<xs:enumeration value="reflex"/>
			<xs:enumeration value="will"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="saveMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for a save.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="intGroup"/>
		</xs:sequence>
		<xs:attribute name="save" type="save" use="optional"/>
	</xs:complexType>

	<xs:complexType name="namedSaveMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Name and modifier for a given save.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="save">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The name of the save
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="intGroup"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="saveFortMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for a fortitude save.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="saveMod">
				<xs:sequence>
					<xs:group ref="intGroup"/>
				</xs:sequence>
				<xs:attribute name="save" type="save" use="optional" fixed="fortitude"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="saveRefMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for a reflex save.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="saveMod">
				<xs:sequence>
					<xs:group ref="intGroup"/>
				</xs:sequence>
				<xs:attribute name="save" type="save" use="optional" fixed="reflex"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="saveWillMod">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Modifier value given for a will save.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="saveMod">
				<xs:sequence>
					<xs:group ref="intGroup"/>
				</xs:sequence>
				<xs:attribute name="save" type="save" use="optional" fixed="will"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<!--
	============================================================================
	LANGUAGES TYPE
	============================================================================

	INCLUDE-ONLY

	Type to outline the languages that a P2E entity has
	-->

	<xs:complexType name="languages">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				A list of languages for an entity.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="language" type="language"/>
				<xs:element name="modifier" type="xs:token" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Any modification to a previously-specified language
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="extra" type="xs:token" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Extra details about the languages previously listed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="language">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				A given language, in its proper case.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>



</xs:schema>